.grid-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  align-items: center;
}

.grid-item {
  flex: 1 0 calc(50% - 10px); /* Updated to 50% with 10px spacing */
  box-sizing: border-box;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 10px; /* Added padding for spacing */
}

.grid-item-large {
  flex-basis: 100%;
}

.grid-item-small {
  flex-basis: calc(50% - 10px); /* Updated to 50% with 10px spacing */
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.grid-item img:hover {
  transform: scale(1.02);
}

.image-text {
  text-align: center;
  margin-top: 10px;
  font-family: 'Your Classy Font', sans-serif;
  font-size: 20px;
}
