/* Mobile styles */
.special {
    display: flex;
    flex-direction: column-reverse;
    font-family: 'Raleway', sans-serif;
  }
  
  .special-header {
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .special-header img {
    max-width: 90%;
    height: 450px;
    margin: 0 0 0 7px;
    padding: 0 10px ;
    justify-content: center;
    align-items: center ;
  }
  
  .special-content {
    max-width: 100%;
    align-items: center;
    text-align: center;

  }
  
  /* Tablet styles */
  @media (min-width: 768px) {
    .special {
      flex-direction: row;
      align-items: flex-start;
    }
  
    .special-header {
      width: 100%;
     margin: 0 5rem;
      align-items: center;
    }
  
    .special-content {
      max-width: 50%;
      margin-top: 20%;
    }

  }
  
  /* Laptop/desktop styles */
  @media (min-width: 1024px) {
    .special-header {
      width: 50%;
      margin: 3.5rem;
    }
  
    .special-content {
      max-width: 40%;
    }

    .special-header img {
        margin: 0 ;
      }
  }
  