.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  font-family: "Raleway", sans-serif;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo a {
  text-decoration: none;
  color: black;
}

.navbar__toggle {
  display: none;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.search-button {
  margin: 0 80px 0 0;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.centered-links {
  display: flex;
  justify-content: center;
}

.navbar__links {
  display: flex;
  align-items: center;
}

.navbar__link {
  color: #333;
  font-size: 1rem;
  margin-right: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar__link:hover {
  color: #007bff;
}

.user-actions .button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  text-decoration: none;
  border-radius: 10px 100px / 120px;
}

.navbar__dropdown {
  position: relative;
  display: inline-block;
}

.navbar__dropdown-content {
  position: absolute;
  top: 30px;
  right: -100%;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 200;
  transition: right 0.3s ease;
  visibility: hidden;
}

.navbar__dropdown-content.active {
  right: 0;
  visibility: visible;
}

.navbar__dropdown-item {
  flex-basis: calc(50% - 0.5rem);
  margin-bottom: 1rem;
  color: #333;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar__dropdown-item:hover {
  color: #007bff;
}

.navbar__inner-dropdown-content {
  position: absolute;
  top: 100%;
  left: -120%;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: 200;
}

@media only screen and (max-width: 768px) {
  .navbar__toggle {
    display: block;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #000;
    padding: 0;
  }

  .navbar__links {
    position: absolute;
    top: 4.5rem;
    right: 0;
    width: 70%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: -0.5rem 0 1rem rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    z-index: 200;
    padding-top: 2rem;
  }

  .navbar__links--open {
    opacity: 1;
    pointer-events: all;
  }

  .navbar__link {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .centered-links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 200px;
  }

  .search-button {
    margin-left: 10px;
    margin-right: 0%;
    padding: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #333;
    transition: color 0.3s ease;
  }

  .search-button:hover {
    color: #007bff;
  }

  .navbar__dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
  }

  .navbar__dropdown-content {
    position: absolute;
    top: 0;
    right: -100%;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 200;
    transition: right 0.3s ease;
    visibility: hidden;
  }

  .navbar__dropdown-content.active {
    right: 0;
    visibility: visible;
  }

  .navbar__dropdown-item {
    flex-basis: calc(50% - 0.5rem);
    margin-bottom: 1rem;
    color: #333;
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
  }

  .navbar__dropdown-item:hover {
    color: #007bff;
  }
}
