.item {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
  }
  
  .item-image {
    flex: 0 0 50%;
    margin-right: 20px;
    margin-left: 40px;
  }
  
  .item-image img {
    width: 100%;
    height: auto;
  }
  
  .item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .item-name {
    font-size: 40px;
    margin: 0;
  }
  
  .item-description {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .item-quantity {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .item-quantity label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
  }
  
  .item-quantity input {
    padding: 8px;
    border: 2px solid #000000;
    border-radius: 4px;
    width: 60px;
  }
  
  .item-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .add-to-cart-button,
  .pay-button,
  .details-toggle-button {
    width: 500px;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #e67e22;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 3px;
  }

  .pay-button a{
    text-decoration: none;
    color: #fff;
  }
  
  .item-details-section {
    margin-top: 20px;
  }
  
  .you-might-like-section {
    margin-top: 40px;
    width: 100%;

  }

  .you-might-like-section h2{
    align-items: center;
  }
  
  .you-might-like-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 25px;
  }
  
  .card {
    position: relative;
    overflow: hidden;
    width: 280px;
  }
  
  .card-image {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
  }
  
  .card:hover .card-image {
    transform: scale(1.1);
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    display: flex;
    align-items: flex-end;
    padding: 10px;
  }
  
  .card-details {
    color: #000000;
  }
  
  .card-name {
    font-size: 18px;
    margin: 0;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 
.dialog {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 400px; /* Increase the width as needed */
}
  
  .dialog .dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dialog h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .dialog-image {
    width: 200px;
    margin-bottom: 10px;
  }
  
  .dialog-name {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .dialog-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .dialog-buttons button {
    margin-bottom: 10px;
    padding: 8px 16px;
    font-size: 0.9rem;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .dialog-buttons button a{
    text-decoration: none;
    color: #fff;
  }
  
  .dialog-buttons button:last-child {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: #000000;
  }
  
  .dialog-buttons button:hover {
    background-color: darkorange;
  }
  
  .dialog-buttons button:last-child:hover {
    background-color: transparent;
  }
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .item {
      flex-direction: column;
    }
  
    .item-image {
      flex: none;
      margin-bottom: 10px;
      margin-left: 20px;
    }
  
    .item-name {
      font-size: 20px;
    }
  
    .item-description {
      font-size: 14px;
    }
  
    .add-to-cart-button,
    .pay-button,
    .details-toggle-button {
      width: 330px;
      margin-right: 0;
      margin-bottom: 10px;
    }

    .you-might-like-cards {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 10px;
      }

    .card{
        width: 80px;
        height: auto;
    }

    .card-image{
      height: 60px;
    }
  }
  