/* AboutUs.css */

/* Styles for About Us page */

/* Adjustments for About Us content */
.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 50px auto;
  font-family: 'Raleway', sans-serif;
}

.image-jumbotron {
  width: 100%;
  margin-bottom: 30px;
}

.jumbotron-image {
  width: 100%;
  height: auto;
}

.about-content {
  text-align: center;
  max-width: 800px;
  margin-bottom: 30px;
}

.images-collage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
}

.about-image {
  width: calc(50% - 10px); /* Adjust image width for two images with margin */
  margin: 5px;
  height: auto;
}

/* Responsive adjustments */
@media screen and (max-width: 767px) {
  .about-image {
    width: 100%; /* Full width for single image on smaller screens */
    margin: 10px 0;
  }
}
